.about-body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, auto);
}
.about-general{
    height: auto;
    position: relative;
}
.conteiner-about{
    margin: 50px 0;
    grid-column: 2/3;
    display: block;
    position: relative;
    width: 100%;
}
.grid-about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
}
.main-about_tittle{
    grid-column: 1/10;
    font-size: 50px;
}
.main-about_image{
    grid-column: 2/9;
    height: 800px;
    width: 100%;
    background-color: var(--color-blue);
}
.main-about_content{
    grid-column: 1/6;
    font-size: 40px;
}
