doctype html
html(lang="en")
	include pug/components/head.pug
	include pug/components/settings.pug
	include pug/components/mixin.pug
	body
		include pug/components/temporalStart.pug
		include pug/components/temporalEnd.pug
		include pug/components/header.pug
		main
		script(src="js/script.js") 
		