footer.container-footer-main
  div.footer-up
    p My Social Networks:
    div
      img(src="/img/github-icon.svg", alt="")
      img(src="/img/linkedin-icon.svg", alt="")
      img(src="/img/twitter-icon.svg", alt="")
      img(src="/img/facebook-icon.svg", alt="")
    p Feel free to contact me.
  div.footer-down
    p Made with JavaScript, HTML and CSS