doctype html
html(lang="en")
	include head.pug
	include settings.pug
	include mixin.pug
	body
		include temporalStart.pug
		include temporalEnd.pug
		include header.pug
		block content 
		include footer.pug
	script(src="/../js/script.js") 
