-var itemNav = ["about", "skill", "work", "contact", "CV"]
-var itemIcons = ["github", "linkeding", "twitter", "facebook"]
-var summaryNav = ["Work Experience", "Technologieseding", "Professional Education", "Professional Profile"]