.container--about {
  margin-left: 200px;
  position: relative;
  .about {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 150px;
    flex-direction: column;
    &__tittle {
      align-self: self-start;
      @include font-size(58px)
    }
    &__photo {
      margin-top: 50px;
      width: 800px;
      height: 500px;
      align-self: self-end;
      img {
        width: inherit;
        height: inherit;
      }
    }
    &__text {
      width: 700px;
      height: 800px;
      margin-top: 50px;
      align-self: self-start;
      border: solid 1px $color-primary;
    }
  }
}