.container--summary {
  width: 100%;
  height: auto;
  .summary-nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: solid 1px $color-sky;
    background-color: $color-dark;
    img {
      height: 50px;
      width: 150px;
    }
    nav {
      ul {
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
        li{
          text-align: center;
          display: block;
          height: 30px;
          width: 180px;
          list-style: none;
          @include border;
          a{
            display: block;
            height: 100%;
            width: 100%;
            color: $color-sky;
            text-decoration: none;
          }
        }
      }
    }
  }
  .summary-main {
    &__inicio {
      width: 100%;
      height: 700px;
      &-up {
        height: 90%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        margin: 0 70px;
        h2 {
          font-weight: 900;
          @include font-size(68px);
          @include reset;
        }
        h3{
          color: get-opacity($color-primary, .8);
          font-weight: 700;
          @include font-size(32px);
          @include reset;
        }
        p{
          font-weight: 400;
          color: get-opacity($color-sky, .5);
          @include font-size(18px);
          @include reset;
        }
      }
      &-down {
        width: 100%;
        height: 10%;
        background-color: $color-primary;
      }
    }
    &__grid {
      display: grid;
      margin: 0 150px;
      margin-top: 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(11, 150px);
      .grid-img {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0 0 $side-box $side-box;
        border-radius: 5px;
        @include contend-efect1;
        div {
          background-image: url(/img/riszart-logo-white.webp);
          @include background-propiedad;
	        @include item-efect1;
          @include box;
        }
      }
      .profile {
        height: 100%;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/6;
        position: relative;
        border-top: solid 3px $color-primary;
        border-right: solid 3px $color-primary;
        padding-top: $side-box;
        padding-right: $side-box;
        padding-bottom: $side-box;
        h6 {
          @include h6;
        }
        &--efect {
          height: inherit;
          width:inherit;
          @include contend-efect1;
          &-content {
            height: inherit;
            width:inherit;
            @include item-efect1;
            @include box;
            &__up {
              display: flex;
              gap: 20px;
              img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: solid 2px $color-sky;
              }
              div {
                h5 {
                  @include font-size(22px);
                  @include reset
                }
                span {
                  color: $color-sky;
                  font-weight: 600;
                  @include font-size(16px);
                  @include reset
                }
              }
            }
            &__down {
              margin-top: 30px;
              p {
                color: $color-sky
              }
            }
          }
        }
      }
      .experience {
        height: 100%;
        width: 100%;
        grid-column: 1/2;
        grid-row: 6/12;
        position: relative;
        border-top: solid 3px $color-primary;
        border-right: solid 3px $color-primary;
        padding-top: $side-box;
        padding-right: $side-box;
        padding-bottom: $side-box;
        h6 {
          @include h6;
        }
        &--efect {
          height: inherit;
          width:inherit;
          @include contend-efect1;
          &-content {
            height: inherit;
            width:inherit;
            @include item-efect1;
            @include box;
            ul {
              color: $color-sky;
              @include reset;
              li {
                display: flex;
                gap: 5px;
              }
            }
          }
        }
      }
      .education {
        height: 100%;
        width:100%;
        grid-column: 2/3;
        grid-row: 2/9;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
        border-top: solid 3px $color-primary;
        padding-top: $side-box;
        padding-left: $side-box;
        padding-bottom: $side-box;
        h6 {
          @include h6;
        }
        &--efect {
          height: inherit;
          width:inherit;
          @include contend-efect1;
          &-content {
            height: inherit;
            width:inherit;
            @include item-efect1;
            @include box;
            &__top, &__middle, &__down {
              h5 {
                color: $color-primary;
                @include font-size(22px);
                @include reset
              }
              li {
                list-style: circle;
                color: $color-sky;
                @include font-size(16px);
                &:last-child {
                  margin-bottom: 20px;
                }
              }
              span {
                color: get-opacity($color-sky, .2);
                font-weight: 500;
                @include reset
              }
            } 
          }
        }
      }
      .technologies {
        height: 100%;
        width: 100%;
        grid-column: 2/3;
        grid-row: 9/12;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
        border-top: solid 3px $color-primary;
        padding-top: $side-box;
        padding-left: $side-box;
        padding-bottom: $side-box;
        h6 {
          @include h6;
        }
        &--efect {
          height: inherit;
          width:inherit;
          @include contend-efect1;
          &-content {
            @include item-efect1;
            @include box;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            img {
              height: 100px;
              width: 100px;

            }

          }
        }
      }
    }
    &__coments {
      display: none;
      width: 80%;
      height: 150px;
      margin: 0 auto;
      border: solid 3px $color-primary;
      border-bottom: none;
    }
  }
}