.inicio-back__end {
	display: block;
	width: 0;
	height: 100vh;
	position: fixed;
	z-index: 1000;
  cursor: wait;
  overflow: hidden;
	transition: width 1s ease;
	background-color: $color-dark;
  div {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    h2 {
      margin: 0;
      text-transform: capitalize;
      color: $color-hover;
      @include font-size(48px)
    }
  }
}