extends components/plantilla.pug
block content 
  main.container--about 
    section.about
      h2.about__tittle Web Developer, Specialized in JavaScript...
      div.about__photo 
        img(src="", alt="")
      div.about__text
        p