extends components/plantilla.pug
block content 
  main.container--portafolio 
    section.portafolio
      h2.portafolio__tittle WORKS CARRIED OUT
      div.portafolio__text
        P Games, pages and applications, that you do as practices
        p of what you are learning.
      div.portafolio__content-li
    div.box-float
      div.box-float__close
        span.box-float__close-item
      div.box-float__img-project
        img.img-project(src="", alt="")
      p.box-float__project-name 
      p.box-float__project-description
      div.box-float__project-programs
        p
        div
  script(src="/js/object.js") 
